.phone-input-container {
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.phone-input-container input {
  width: 100%;
  outline: none;
  padding: 0 8px;
}
